@media(max-width: 600px){
    .overlay-1{
        width: 100%;
    }

    .overlay-2{
        height: 100%;
        width: 100%;
        left: 20%;
    }

    .overlay-3{
        height: 40%;
        width: 50%;
        left: 60%;
        top: 60%;
    }

    .text-div{
        top: 70%;
        font-size: 4.5vw;
        line-height: 35px;
        z-index: 100;
    }

    .vertical-text, .vertical-text-inner{
        display: none;
    }

    .nav{
        top: 0;
        width: 100%;
        gap: 60px;
        z-index: 10;
    }

    .nav h5{
        font-size: 8vw;
    }
}